@import '../../styles/queries.scss';
.autocomplete__wrapper {
    position: absolute;
    width: 100%;
    top: 45px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 1px var(--gray-light-color);
    border-top: 1px solid var(--gray-light-color);
    z-index: 1;
    .result-card__empty {
        display: block;
        font-size: 16px;
        padding: 20px 10px;
        text-align: center;
    }
    @include media-xs {
        top: 65px;
    }
}

.autocomplete__results {
    width: 100%;
    a {
        &:hover {
            background-color: var(--blue-light-color);
            color: var(--white-color);
        }
        padding: 10px 16px;
        display: block;
        text-decoration: none;
        color: var(--gray-color);
        &:not(&:first-child) {
            margin: 5px 0;
        }
        &:first-child {
            margin-bottom: 5px;
        }
        font: {
            size: 14px;
            family: 'proximanova-light';
            weight: 500;
        }
    }
}