:root {
    --yellow-color: #FFE600; //yellow main brand color
    --blue-color: #2d3277; //blue main brand color
    --white-color: #fff;
    --black-color: #000;
    --gray-dark-2-color: #333333;
    --gray-dark-1-color: #666666;
    --gray-color: #999999;
    --gray-light-color: #EEEEEE;
}