* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--gray-light-color);
}

.max-width-element {
    max-width: 1280px;
    width: 95%;
    margin: 0px auto;
}