.breadcrumb {
    ul {
        list-style: none;
        margin: 0px;
        padding: 16px 0px;
        display: flex;
        li {
            position: relative;
            user-select: none;
            margin-right: 5px;
            display: flex;
            align-items: center;
            a {
                color: var(--gray-color);
                text-decoration: none;
                font: {
                    family: 'proximanova-light';
                    weight: 500;
                    size: 14px;
                }
                &::first-letter {
                    text-transform: uppercase;
                }
            }
            &:not(&:last-child) {
                color: var(--gray-color);
                font-family: 'proximanova-light';
                margin-right: 10px;
                &::after {
                    content: ">";
                    margin-left: 8px;
                    font-size: 12px;
                }
            }
        }
    }
}