@import '../../styles/components/input';
@import '../../styles/components/buttons';
@import '../../styles/components/bgImage';
@import '../../styles/queries.scss';
// Header full width
.header-search {
    padding: 8px 0;
    background-color: var(--yellow-color);
    // max container 1280px
    >.max-width-element {
        display: flex;
        align-items: center;
    }
}

//Anchor logo container
.header-search__logo {
    width: 68px;
    //height: 46px;
    min-width: 68px;
    picture {
        &,
        img {
            width: 100%;
        }
    }
}

//Input search wrapper
.header-search__form-search {
    position: relative;
    margin-left: 35px;
    width: 100%;
    background-color: --white-color;
    display: flex;
    flex-wrap: nowrap;
    height: 45px;
    //input search
    .header-search__input {
        @extend %input;
        width: 100%;
        border-top-left-radius: 2.5px;
        border-bottom-left-radius: 2.5px;
        font-size: 18px;
        color: var(--gray-dark-2-color);
        @include media-xs {
            &:focus {
                border: 1px solid red
            }
        }
    }
    //search lateral right button (magnifying glass icon) 
    .header-search__icon {
        @extend %button,
        %bgImage;
        width: 55px;
        height: 100%;
        background-color: var(--gray-light-color);
        background-image: url(../../assets/misc/ic_search@2x.png);
        background-size: 40%;
        border-top-right-radius: 2.5px;
        border-bottom-right-radius: 2.5px;
    }
    @include media-xs {
        margin-left: 10px;
    }
}