@import '../../styles/components/input';
@import '../../styles/components/buttons';
@import '../../styles/components/bgImage';
@import '../../styles/queries.scss';
// Header full width
.header-search {
    padding: 8px 0;
    background-color: var(--yellow-color);
    background-color: brown;
    position: relative;
    // max container 1280px
    >.max-width-element {
        display: flex;
        align-items: center;
    }
}

//Anchor logo container
.header-search__logo {
    width: 68px;
    //height: 46px;
    min-width: 68px;
    picture {
        &,
        img {
            width: 100%;
        }
    }
}

//Input search wrapper
.header-search__form-search {
    position: relative;
    margin-left: 35px;
    width: 100%;
    background-color: --white-color;
    display: flex;
    flex-wrap: nowrap;
    height: 45px;
    //input search
    .header-search__input {
        @extend %input;
        width: 100%;
        border-top-left-radius: 2.5px;
        border-bottom-left-radius: 2.5px;
        font-size: 18px;
        color: var(--gray-dark-2-color);
    }
    //search lateral right button (magnifying glass icon) 
    .header-search__icon {
        @extend %button,
        %bgImage;
        width: 55px;
        height: 100%;
        background-color: var(--gray-light-color);
        background-image: url(../../assets/misc/ic_search@2x.png);
        background-size: 40%;
        border-top-right-radius: 2.5px;
        border-bottom-right-radius: 2.5px;
    }
    &.focus-mobile {
        position: absolute;
        // top: 0px;
        // left: -10px;
        // height: 100%;
        animation-name: mobile-focus-search;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }
    animation-fill-mode: backwards;
    transition: left 0.2s;
    @include media-xs {
        margin-left: 10px;
    }
}

@keyframes mobile-focus-search {
    0% {
        top: 0;
        left: -10px;
        height: 80%;
        transform: scale(0.5);
    }
    50% {
        // position: absolute;
        top: 0;
        left: -10px;
        height: 90%;
        transform: scale(0.7);
    }
    100% {
        top: 0;
        left: -10px;
        height: 100%;
        transform: scale(1);
    }
}