.recent-search__card{
    display: inline-block;
    text-decoration: none;
    max-width: 215px;
    width: 100%;
    border-radius: 2.5px;
    background-color: var(--white-color);
    border: 1px solid var(--gray-light-color);
    padding-top: 8px;
    margin: 0px 16px 16px;
    .recent-search__image{
        margin: 0px;
        width: 100%;
        border-bottom: 1px solid var(--gray-light-color);
        img{
            width: 100%;
        }
    }
    .recent-search__content{
        padding: 16px;
        .recent-search__price{
            color: var(--gray-dark-2-color);
            margin: 12px 0 12px;
            font: {
                size: 24px;
                family: 'proximanova-regular';
                weight: 300;
            }
            .recent-search__price-symbol {
                margin-right: 5px;
            }
            .recent-search__shiping-free{
                margin-left: 5px;
            }
        }
        .recent-search__title{
            color: var(--gray-color);
            margin: 0px;
            line-height: 1.25;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            box-orient: vertical;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            font: {
                size: 14;
                family: 'proximanova-light';
                weight: 300;
            }
        }
    }
}